@import 'Loader';
@import 'Cell';
@import 'DataRow';
@import 'Row';

.supertable-container {
    .supertable {
        .group:before,
        .group:after { content:""; display:table; }
        .group:after { clear:both;}
        .group { zoom:1; /* For IE 6/7 */ }

        .supertable-column:first-child {
            margin-left: 0;
        }

        .supertable-header {
            text-transform: uppercase;
            font-weight: 500;
            border-bottom: #e6e6e6 1px solid;
            background-color: #e6e6e6;
        }
    }
}